-- Add approval status columns to investordetails table
ALTER TABLE public.investordetails 
ADD COLUMN approval_status character varying DEFAULT 'pending',
ADD COLUMN approved_by text,
ADD COLUMN approved_at timestamp with time zone;

-- Add foreign key constraint for approved_by
ALTER TABLE public.investordetails 
ADD CONSTRAINT fk_approved_by FOREIGN KEY (approved_by) REFERENCES public.login(user_id);

-- Add index for better performance
CREATE INDEX idx_investordetails_approval_status ON public.investordetails(approval_status);
